body {
    font-family: 'Times New Roman', sans-serif;
}

h2 {
    background-color: #f00;
	color: #fff;
	font-size: 22px;
	line-height: 30px;
}

p {
	font-size: 14px;
}

.first-p {
	background-color: #4600ff;
	height: 50px;
}

.second-p {
	background-color: #fdf800;
	height: 40px;
}