body {
    background-color: #d6d7be;
}

a {
	color: #285501;
}

h1 {
	color: #532601;
	font-family: 'Arial', sans-serif;
	font-size: 30px;	
}

h2 {
    color: #000;
	font-family: 'Times New Roman', sans-serif;
	font-size: 22px;
}

h3 {
	color: #875327;
	font-family: 'Times New Roman', sans-serif;
	font-size: 20px;
}
